*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
    font-family: Arial, Helvetica, sans-serif;
}

nav .wrapper{
    position: relative;
    
    padding: 0 30px;
    
    display: flex;
    align-items: center;
    
    

}


.wrapper .nav-links{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 25rem;
    color:darkgrey;
    gap:2rem;
    letter-spacing: 2px;

    
}

.nav-links li {
    list-style: none;

    
}

.nav-links li a{
    color: 	#303030;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding:9px 15px;
    
    
}

.nav-links .dropdown-link{
    color: rgb(131, 128, 128);
}

.nav-links .hover-services a:hover{
    background: rgb(129, 127, 127);
    color: whitesmoke;
}

.dropdown-content{
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    color: whitesmoke;
    top:100px;
    background: #282828;
    width: 100%;
    left:0;
    
    
}

.nav-links li:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
    position: absolute;
    top:100px;
    background: #282828;
    width: 100%;
    left:0


}

.dropdown-content .content{
    
    background: #282828;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.content .row{
    color: whitesmoke;
    width: calc(25% - 30px);
    line-height: 40px;
}

.content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.content .row header{
    color:white;
    font-weight: 500;
    
    
}

.wrapper .icon-menu{
    display: inline-flex;
    margin-left: 15rem;
    gap:3rem;
    color:black
}

.icon-menu li{
    list-style: none;
    text-decoration: none;

}


  

.nav .currency{
   font-size: large;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   color: grey;
   background-color: white;
   border: none;
   letter-spacing: 3px;
   font-family: inherit;
   
}



i{
    color: #282828;
    size: 1px;
}

i:hover {

color:greenyellow;

}


