*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{

    background-color:white;
    
    width: 100%;
    z-index:1;
    height: 65px;
    line-height: 65px;
    font-family: Arial, Helvetica, sans-serif;
    top:0;
    
}

nav .wrapper{
    position: relative;
    margin: auto;
    padding: 0 30px ;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}



.wrapper .nav-links{
    display: inline-flex;
    justify-content: space-between;
   /*margin-left: 20rem;*/
    color:grey;
    gap:2rem;
    letter-spacing: 2px;

    
}

.nav-links li {
    list-style: none;

    
}

.nav-links li a{
    color: 	grey;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding:9px 15px;
    
    
}

.nav-links .dropdown-link{
    color: rgb(131, 128, 128);
}

.nav-links .hover-services a:hover{
   
    color: whitesmoke;
}

.dropdown-content{
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    color: whitesmoke;
    top:75px;
    background: #282828;
    width: 100%;
    left:0;
    z-index: 999;
    
    
}

.nav-links li:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
    position: absolute;
    top:75px;
    background: #282828;
    width: 100%;
    left:0
    
}

.nav-links li.hover-services:hover{
    transition: all 0.2s;
    opacity: 1;
    background-color: #282828;

    
}

.dropdown-content .content{
    
    background: #282828;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.content .row{
    color: whitesmoke;
    width: calc(25% - 30px);
    line-height: 40px;
}

.content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.content .row header{
    color:white;
    font-weight: 500;
    
    
}

.wrapper .icon-menu{
    display: inline-flex;
    /*margin-left: 15rem;*/
    gap:3rem;
    color:black
}

.icon-menu li{
    list-style: none;
    text-decoration: none;

}


  

.nav .currency{
   font-size: 18px;
   text-decoration: none;
   display: inline-flex;
   color: grey;
   background-color: white;
   border: none;
   letter-spacing: 3px;
   font-family: inherit;
   justify-content: space-between;
   gap:2rem;
   font-size: 18px;
   font-weight: 500;
   padding:9px 15px;
   
}



i{
    color: #282828;
    
}

i:hover {

color:greenyellow;

}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: yellowgreen;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }





.nav-links .desktop-item{
    display: none;
}

.wrapper input {
    display: none;
}

label.mobile-item{
    font-size: 18px;
    font-weight: 500;
}


@media screen and (max-width: 1300px){
    .wrapper .btn{
        display: block;
        
    }

  .wrapper .nav-links{
    position:fixed;
    height: 100vh;
    width:100%;
    max-width: 350px;
    top: 100px;
    left: 0;
    overflow-y: auto;
    display:block;
    line-height: 40px;
   

    
  
  }

  

  .wrapper .nav-links li{
    margin: 15px 10px;
  }

  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  #showMega:checked ~ .dropdown-content{
    max-height: 100%;
  }


  .dropdown-content{
   
    opacity: 1;
    
   
    transition: all 0.2s;
    position: static;
    color: whitesmoke;
    top:75px;
    visibility: visible;
    background: #282828;
    width: 100%;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    left:0;
    
    
    
    
   
    
    
}

.dropdown-content .content{
    
    background: #282828;
    flex-direction: column;
    padding: 25px 20px;

    
}

.dropdown-content .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
}

.dropdown-content .content .row:nth-child(1),
.dropdown-content .content .row:nth-child(2){
    border-top: 0;
}

.content .row .mega-links{
    border-left: 0px;
    padding-left:15px

}

.row .mega-links li {
    margin:0;

}

.content .row header{
   font-size: 16px;
}

.nav-links .desktop-item{
    display:none;

}

.nav-links .mobile-item{
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav-links li:hover .dropdown-content{
    position: relative;
}




}


footer{

    
    bottom:0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    
    


}


.main-content{
    display: flex;
    

}
footer h3{
    color: #5a5a5a;
}

.main-content .box{
    color: grey;
    flex-basis: 50%
    
}

footer a{
    color:grey;
    text-decoration: none;

}



.section-p1{
    padding: 40px 80px;
    font-family: Arial, Helvetica, sans-serif;
}
#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;


}

#product1 .pro{
    width: 23%;
    min-width: 250px;
   
    border: 1px solid rgb(179, 176, 176);
    border-radius: 15px;
    cursor: pointer;
    margin: 15px 0;
    
    position: relative;

}

#product1 .pro:hover {

    /*opacity: 0.3;*/
    background: rgb(71,228,83);
    background: radial-gradient(circle, rgba(71,228,83,1) 0%, rgba(148,225,233,1) 100%);
    
    
    
}

#product1 .pro:hover img{
    opacity: 0.3;
    
}


#product1 .pro:hover .btn{
    visibility: visible;
    overflow-y: hidden;
}

#product1 .pro img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    
    
}
#product1 .pro .btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    border: hidden;
    top:-350px;
    visibility: hidden;
       
  }

  #product1 .pro .btn:hover{
    background-color: rgb(221, 220, 219);
  }

  #product1 .pro .btn:active{
    transform: scale(0.98);
  }

  #product1 .pro h3{
    padding-top: 40px;
  }

  #product1 .pro .btn-1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:30px;
    width: 150px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;

  }

  #product1 .pro .btn-1:hover{
    background-color:grey;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #product1 .pro .btn-1:active{
    transform: scale(0.98);
  }

  .shopping-cart::before{
   
    content: attr(data-product-count);
    font-size: 12px;
    background: yellowgreen;
    color: #fff;
    padding: 0 5px;
   
    
    border-radius: 9px;
  }


  .heart-cart::before{
   
    content: attr(data-heart-count);
    font-size: 12px;
    background: yellowgreen;
    color: #fff;
    padding: 0 5px;
    border-radius: 9px;
  }


  .slider{
    
   
    padding: 40px 80px;
    
    align-items: center;
   
    width: 1825px;
    height: 850px;
    overflow: hidden;
    
    
    
  }

  .slides{

  
    display: flex;
    width: 540%;
    overflow: hidden;
    
    
  }

.slides input{
    display: none;

}

.slide{
    
    width: 20%;
    transition: 2s;
    

}

.slide img{
    
    width: 1830px;
    overflow: hidden;
}


.navigation-manual{
    position: absolute;
    width: 1825px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn{

    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    position: relative;
    top: -430px;


}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}


#radio1:checked ~ .first {
    margin-left:0px;

}

#radio2:checked ~ .first {
    margin-left:-20%;

}
#radio3:checked ~ .first {
    margin-left:-40%;

}
#radio4:checked ~ .first {
    margin-left:-60%;

}

.slide .view{
    position: relative;
    top:-500px;
    right:-90px;
    background-color: transparent;
    padding: 20px 70px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    border: 1px solid white;

}

.slide .view:hover{
    background-color: #5a5a5a;
    transition: 1s;
    opacity: 0.5;

}

.slide .view:active{
    transform: scale(1.2);
  }


  #product1 .load-info{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;


}

#product1 .load-btn{
    
    background-color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border:1px solid yellowgreen;
    padding: 20px 70px;
    border-radius: 50px;
    font-size: 20px;
}

#product1 .load-btn:active{
    transform: scale(1.2);
  }

  #product1 .load-btn:hover{
    background-color:rgb(105, 141, 33);
    transition: 1s;
    

}

.banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c173b;
}


.banner-container .img{
    
    width:100%;
    height: 100%;
   
  
}





 .section-p2{
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 80px;
    
}
#product2 {
    text-align: center;
    margin-bottom: 100px;
}


.swiper {
    top:20px;
    width: 100%;
    height: 100%;
    
   
  }


  .swiper-slide {
   
    width: 80%;
    text-align: center;
    font-size: 18px;
    background: #fff;
   
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: space-between;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
   
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 



#product2 .pro2 {
   
   
   padding-top: 20px;
    border-radius: 15px;
    cursor: pointer;
    
    
    

}

#product2 .pro2:hover {

    /*opacity: 0.3;*/
    background: rgb(71,228,83);
    background: radial-gradient(circle, rgba(71,228,83,1) 0%, rgba(148,225,233,1) 100%);
    
    
    
}

#product2 .pro2:hover img{
    opacity: 0.3;
    
}


#product2 .pro2:hover .btn{
    visibility: visible;
    overflow-y: hidden;
}

#product2 .pro2 img{
  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    
    
    
}
#product2 .pro2 .btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    border: hidden;
    top:-350px;
    visibility: hidden;
    
       
  }

  #product2 .pro2 .btn:hover{
    background-color: rgb(221, 220, 219);
  }

  #product2 .pro2 .btn:active{
    transform: scale(0.98);
  }

  #product2 .pro2 h3{
    padding-top: 40px;
  }

  #product2 .pro2 .btn-1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:30px;
    width: 150px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    position: relative;

  }

  #product2 .pro2 .btn-1:hover{
    background-color:grey;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #product2 .pro2 .btn-1:active{
    transform: scale(0.98);
  }



  .benefit-content{
  
    top: 150px;
    background-color: #313131;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    color: grey;
    display: flex;
  }

  .benefit-content h3{
    color: white;
  }

  .benefit-content .box i{
    margin-right: 50px;
    margin-left: 50px;
  }